<div id="video">
	<% @videos.each do |video| %>
		<div id="video <%= video.id %> ">
			<p>
				Video : <%= video.name %>
			</p>	
			<p>
				youtube : <%= video.youtube_link %>
			</p>	
			<p>	
			<%= button_to "Delete", video_path(video), :method => "delete" %>	

			</p>
		</div>
		<hr/>	
	<% end %>
</div>