<%= javascript_tag do -%>
	var ytplayer;
	
	function onYouTubePlayerReady(playerId) {
		ytplayer = document.getElementById("myytplayer");
	}

	function reportOffence(url){
		var time_of_offence = ytplayer.getCurrentTime();
		url += time_of_offence;
		$.post(url, function(data) {
		  $('.result').html("Successfully reported crime at " + time_of_offence + " seconds.");
		});
	}

	var params = { allowScriptAccess: "always" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("<%= video_js_link(@video) %>",
                       "ytapiplayer", "425", "356", "8", null, null, params, atts);

<% end -%>


<div id="main">
	<div id="ytapiplayer">
    	You need Flash player 8+ and JavaScript enabled to view this video.
  	</div>

	<div id="result" bgcolor="yellow"></div>

	<div id="submit_button">
		<% video_url = "/offence/#{@video.id}/" %>
		<%= link_to "Report Offence", "#", :onclick => "reportOffence('#{video_url}');return false;" %>
	</div>		
</div>
